.vscode/settings.json
WaterReminder.xcodeproj/project.pbxproj
WaterReminder.xcodeproj/xcuserdata/lucascalheiros.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
WaterReminder.xcodeproj/xcuserdata/lucascalheiros.xcuserdatad/xcschemes/xcschememanagement.plist
WaterReminder.xcworkspace/contents.xcworkspacedata
WaterReminder.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
WaterReminder.xcworkspace/xcuserdata/lucascalheiros.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
WaterReminder.xcodeproj/project.pbxproj
WaterReminder.xcodeproj/project.xcworkspace/contents.xcworkspacedata
WaterReminder.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
WaterReminder.xcodeproj/xcuserdata/lucascalheiros.xcuserdatad/xcschemes/xcschememanagement.plist
