WaterReminder.xcworkspace/contents.xcworkspacedata
WaterReminder.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
WaterReminder.xcworkspace/xcuserdata/lucascalheiros.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
.vscode/settings.json
Pods/